.cover__subtitle {
  color: #ffffff;
  width: 22.5rem;
  margin: 0;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.22;
  text-align: center;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

@media all and (max-width: 720px) {
  .cover__subtitle {
    width: 18rem;
    font-size: 0.875rem;
    line-height: 1.14;
  }
}