.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.12;
  margin: 0 1.125rem 0 0;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 650px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 2rem 0;
  }

  .footer__link:last-child {
    margin: 0;
  }
}