.intro {
  width: 76.875%;
  margin: 0 0 5.75rem;
}

@media all and (max-width: 1024px) {
  .intro {
    width: 90%;
  }    
}

@media all and (max-width: 768px) {
  .intro {
    width: 93.75%;
  }    
}

@media all and (max-width: 425px) {
  .intro {
    width: 90%;
  }    
}
