.lead__caption {
  margin: 0.5rem 0 0;
  font-size: 0.625rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  align-self: start;
}

@media all and (max-width: 768px) {
  .lead__caption {
    margin: 0.5rem 0 0 1.5rem;
  }
}

@media all and (max-width: 425px) {
  .lead__caption {
    margin: 0.5rem 0 0 1rem;
  }
}