.place__url-heading {
  margin: 0 0 0.75rem;
  font-weight: 400;
  color: #AAAAAA;
  font-size: 0.75rem;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

@media all and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}