.intro__title {
  width: 43.125rem;
  margin: 0 0 2.5rem;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
}

@media all and (max-width: 768px) {
  .intro__title {
    width: auto;
  }
}

@media all and (max-width: 720px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
    padding-right: 3rem;
    box-sizing: border-box;
  }
}